<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <mat-select [placeholder]="title" [formControlName]="controlName">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="full-width">
    <!-- <ng-container *ngIf="form.get('gender').invalid && form.get('gender').touched">
      <p class="caption text-warning" *ngIf="form.get('gender').errors.required">
          Campo é Obrigatório
      </p>
  </ng-container> -->
  </div>
</div>
