<mat-form-field class="full-width">
  <mat-select placeholder="Gênero" formControlName="gender">
    <mat-option value="Ação">Açao</mat-option>
    <mat-option value="Aventura">Aventura</mat-option>
    <mat-option value=">Ficção Científica">Ficção Científica</mat-option>
    <mat-option value="Romance">Romance</mat-option>
    <mat-option value="Terror">Terror</mat-option>
  </mat-select>
</mat-form-field>
<div class="full-width">
  <!-- <ng-container *ngIf="form.get('gender').invalid && form.get('gender').touched">
      <p class="caption text-warning" *ngIf="form.get('gender').errors.required">
          Campo é Obrigatório
      </p>
  </ng-container> -->
</div>