<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="form">
      <mat-card-content >
        <mat-form-field class="full-width">
              <input type="text" matInput fullWidth id="title" placeholder="Título"
                  formControlName="title" required>
        </mat-form-field>
        <div class="full-width">
          <ng-container *ngIf="form.get('title').invalid && form.get('title').touched">
              <p class="caption text-warning" *ngIf="form.get('title').errors.required">
                  Campo é Obrigatório
              </p>
              <p class="caption text-warning" *ngIf="form.get('title').errors.minlength">
                Deve conter no minimo 3 caracteres
            </p>
            <p class="caption text-warning" *ngIf="form.get('title').errors.maxlength">
                Deve conter no máximo 10 caracteres
          </p>
          </ng-container>
        </div>
          <mat-form-field class="full-width">
            <input matInput placeholder="Link Foto" formControlName="urlPhoto">
          </mat-form-field>
          <div class="full-width">
            <ng-container *ngIf="form.get('urlPhoto').invalid && form.get('urlPhoto').touched">
                <p class="caption text-warning" *ngIf="form.get('urlPhoto').errors.required">
                    Campo é Obrigatório
                </p>
            </ng-container>
          </div>
          <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Data de Lançamento" formControlName="dtLancamento" readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="full-width">
              <ng-container *ngIf="form.get('dtLancamento').invalid && form.get('dtLancamento').touched">
                  <p class="caption text-warning" *ngIf="form.get('dtLancamento').errors.required">
                      Campo é Obrigatório
                  </p>
              </ng-container>
            </div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
          </mat-form-field>
          <div class="full-width">
            <ng-container *ngIf="form.get('nota').invalid && form.get('nota').touched">
                <p class="caption text-warning" *ngIf="form.get('nota').errors.maxlength">
                    Deve conter no máximo 100 caracteres
                </p>
            </ng-container>
          </div>
          <mat-form-field class="full-width">
            <input matInput 
            placeholder="Nota IMDb"
            min="0"
            max="10"
            step="1"
            type="number" 
            formControlName="nota">
          </mat-form-field>
          <div class="full-width">
            <ng-container *ngIf="form.get('nota').invalid && form.get('nota').touched">
                <p class="caption text-warning" *ngIf="form.get('nota').errors.required">
                    Campo é Obrigatório
                </p>
            </ng-container>
          </div>
          <mat-form-field class="full-width">
            <input matInput placeholder="Link IMDb" formControlName="urlIMDb">
          </mat-form-field>
          <div class="full-width">
            <ng-container *ngIf="form.get('urlIMDb').invalid && form.get('urlIMDb').touched">
                <p class="caption text-warning" *ngIf="form.get('urlIMDb').errors.required">
                  Campo é Obrigatório
                </p>
            </ng-container>
          </div>
          <mat-form-field class="full-width">
            <mat-select placeholder="Gênero" formControlName="gender">
              <mat-option value="Ação">Açao</mat-option>
              <mat-option value="Aventura">Aventura</mat-option>
              <mat-option value=">Ficção Científica">Ficção Científica</mat-option>
              <mat-option value="Romance">Romance</mat-option>
              <mat-option value="Terror">Terror</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="full-width">
            <ng-container *ngIf="form.get('gender').invalid && form.get('gender').touched">
                <p class="caption text-warning" *ngIf="form.get('gender').errors.required">
                    Campo é Obrigatório
                </p>
            </ng-container>
          </div>
        </mat-card-content>
      
        <mat-card-actions>
          <button color="accent" mat-raised-button (click)="save()" [disabled]="submitted || !form.valid">Salvar</button>
          <button color="warn" mat-raised-button (click)="goBack()">Voltar</button>
          <button color="warn" mat-raised-button (click)="resetForm()">Limpar Formulário</button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>
